.button-icon {
  position: fixed;
  cursor: pointer;
  bottom: 1.2rem;
  right: 1.2rem;
  z-index: 9;
  width: 100px;
  height: 50px;
}

.tooltip-position {
  position: fixed;
  cursor: pointer;
  bottom: 5rem;
  right: 5.2rem;
  z-index: 9;
}

.tooltip-holder {
  position: relative;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .button-icon {
    bottom: 3.75rem;
    right: 0.8rem;
  }

  .tooltip-position {
    bottom: 6.2rem;
    right: 0.2rem;
  }
}