.container{background: #fff !important;margin-bottom: 50px;}
.heading{padding: 13px;font-weight: bold;font-family: HeaderFont; color: #215ca0;font-size: x-large;}
.slds-spinner_container{height:100vh;}
.slds-form__row{height: 48px !important;}