.navbar {
    background-color: var(--lwc-cardBackgroundColor);
    min-height: 70px;
    width: 100%;
}

.profileImg {
    border-radius: var(--lwc-borderRadiusCircle, 50%);
    height: 30px;
    width: 30px;
}

.badge-blue{
    background-color: rgba(238, 244, 255, 1);
}
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 2rem;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}