.suggested_skill_pill-style{
    background-color: #f3f3f3;
    color: #000000;
  }

  .add-skill-icon{
    --sds-c-icon-color-foreground-default: #000000; 
  }

  .remove-skill-icon{
    --slds-c-icon-color-foreground: #f3f3f3;
  }

  .action-utility-icon{
    padding: 0;
    margin-left: 0.5rem;
    cursor: pointer;
  }