.profile-container {
  position: relative;
  width: 73%;
  margin: auto;
  margin-top: 4%;
  min-height: 80vh;
}

.componentContainer{
  border: 1px solid #ededed;
  border-radius: 11px;
  padding: 45px 35px;
}

.navigation_heading {
  /* My Profile */

  position: absolute;
  width: 220px;
  height: 56px;
  left: calc(50% - 220px / 2 - 512.5px);
  top: 144px;

  /* Headline/Display 3 Link */
  font-family: 'Avant Garde For Salesforce';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  color: #032d60;
}

.side-navigation ul li {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  cursor: pointer;
}

.side-navigation ul li.active{
  color: #0176d3;
}

@property --progress-value {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}



.progress-bar {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  /* to center the percentage value */
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#0176d3 calc(var(--progress-value) * 1%), #f3f3f3 0);
  animation: html-progress 2s 1 forwards;
}

.progress-bar::before {
  counter-reset: percentage var(--progress-value);
  content: counter(percentage) '%';
  color: #0176d3;
  font-size: 13px;
}

.progress-bar::before {
  animation: html-progress 2s 1 forwards;
}

progress {
  visibility: hidden;
  width: 0;
  height: 0;
}

.sideNavLinks.active,.sideNavLinks:hover{color:#0176d3}

.leftNavigation{position: fixed;max-width:18%;}
.arrowIcon svg{
  height: 43px;
  margin-top: 27px;
}
.progressContainer{
    margin-top: 5em;
    min-width: 300px;
    
}

.progressContainer .headingSec{text-align: center;}

.progressContainer .splitter{
  margin-top:20px;
}

.progressContainer .completionHeding {
  margin-top: 10px;
  padding-left: 2%;
}