.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.container {
  padding-bottom: 50px;
}

.card-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
}

.border-radius {
  border-radius: 0.25rem;
}

.searchbar-edit {
  margin-top: -60px;
  z-index: 4;
}

.filter-toggle{
  cursor: pointer;
}