.card-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
}

.banner-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(100% + 3.75rem);
  margin-left: -1.875rem;
  margin-top: -1.875rem;
  height: 8rem;
}

.blur {
  filter: blur(25px);
  -webkit-filter: blur(25px);
}

.oversized-button {
  height: 44px;
  border-radius: 0.5rem;
  border: 2px solid #F3F2F2;
  cursor: pointer;
}

.top-border-radius {
  border-radius: 0.5rem 0.5rem 0 0;
}

.partial-border {
  border-radius: 0.5rem 0.5rem 0 0;
}

.full-border {
  border-radius: 0.5rem;
}

.profile-image {
  min-width: 30%;
  max-width: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-image-desktop {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 6.5rem;
  width: 6.5rem;
  margin-top: -88px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .3);
}

.location-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-footer {
  background-color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
}

.badge {
  height: 40px;
  width: 36px;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badges {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.blue {
  color: var(--lwc-colorTextBrand);
}

.overflow-hidden {
  overflow: hidden;
}

.border-radius {
  border-radius: 0.5rem;
}

.pointer {
  cursor: pointer;
}