.toasticon {
    --sds-c-icon-sizing-width:12px;	
    --sds-c-icon-sizing-border:4px;
    --sds-c-icon-radius-border:17px;
    --sds-c-icon-color-background: #ffffff;
    --sds-c-icon-color-foreground: var(--wes-g-color-success-base-contrast-1,green);
    margin-right: 5px;
}

.toast {
    color: white;
    display: flex;
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 5px 10px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 20; /* Add a z-index if needed */
    left: 45%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
}

.success {
    background-color:var(--wes-g-color-success-base-contrast-1,green);
}

.error {
    background-color:red;
}

.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }