.eachItem:hover {
    background-color: #F1F1F1;
    cursor: pointer;
}

li {
    padding: .45rem 0.7rem !important;
    display: flex;
}

.iconHolder {
    min-width: .7rem;
}

.check {
    --sds-c-icon-color-foreground-default: #0176d3;
    vertical-align: -webkit-baseline-middle;
}